Cargo.lock linguist-generated=true merge=binary
flake.lock linguist-generated=true merge=binary
requirements.lock linguist-generated=true merge=binary
requirements-dev.lock linguist-generated=true merge=binary
